nav {
    background-color: steelblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: sandybrown;
    text-decoration: none;
}

h1 {
    text-align: center;
}

hr {
    margin: 0 auto;
}

.img-max {
    max-width: 400px;
    max-height: 400px;
}

body {
    background-color: #777;
    text-align: center;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.bigger-font {
    font-size: 24px;
}